<% provide(:title, "About") %>
<h1>About</h1>

<p>
  AccessOBD provides automotive garages with access to real-time vehicle 
  data. After a Bluetooth OBDII reader has been installed in the port of a 
  client's vehicle, an app on the owner's phone will capture information such 
  as mileage and Diagnostic Trouble Codes. 
</p>
<p>
  This information will be displayed for the owner and provided to the shop 
  through an online portal. The garage will be empowered to provide timely 
  reminders of scheduled maintenance, as well as notifications when an 
  engine malfunctions.
</p>
<p>
  Developed by Andrew Hausdorf, student at Washington University in St Louis.  
</p>