<% if logged_in? %>
<div>
  <aside class="col-md-4">
    <div>
      <h1>My Profile</h1>
    </div>
    <div class="hero-unit user_info">
      <%= render 'shared/user_info' %>
    </div>
    <section class="hero-unit car_form">
      <%= render 'shared/car_form' %>
    </section>
  </aside>
  
  <div class="col-md-8">
    <h1>My Cars</h1>
  </div>
  <div class="col-md-8">
    <%= render 'shared/feed' %>
  </div>
</div>
  
<% else %>
<div class="broke col-md-12">
  <div class="alive">
  <h1>Keep your car on the road<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary signup-btn" %></h1>
  </div>
</div>

<div class="tres col-md-3">
  <h3> The App </h3>
  <p> Connect your EnSage device to your car and the EnSage app will send your car's data to your profile </p>
</div>

<div class="tres col-md-3">
  <h3> Your Mechanic </h3>
  <p> Add your auto service garage to your profile and keep them up to date with your car's information </p>
</div>

<div class="tres col-md-3">
  <h3> Car Service </h3>
  <p> Your mechanic will monitor real-time data and remind you to keep your car on its maintenance schedule </p>
</div>

<% end %>

<script type="text/javascript">     
     $(document).ready(function() {
       $('.car_form').hide(); //form, start hidden
        $('.btn-primary').click(function() { // show button
         $('.car_form').fadeIn("slow"); //form and fade in
           $('.btn-hide').click(function() { // hide button
             $('.car_form').fadeOut("slow"); //form and fade out
       });
     });
   });
</script>