<% if shop_logged_in? %>
<div>
  <%= render 'shops/shop' %>
</div>
  
<% else %>

<div class="broke col-md-12">
  <div class="alive">
  <h1>Keep your car on the road<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></h1>
  </div>
</div>

<div class="tres col-md-3">
  <h3> The App </h3>
  <p> Connect your EnSage device to your car and the EnSage app will send your car's data to your profile </p>
</div>

<div class="tres col-md-3">
  <h3> Your Mechanic </h3>
  <p> Add your auto service garage to your profile and keep them up to date with your car's information </p>
</div>

<div class="tres col-md-3">
  <h3> Car Service </h3>
  <p> Your mechanic will monitor real-time data and remind you to keep your car on its maintenance schedule </p>
</div>

<% end %>

<script type="text/javascript">     
     $(document).ready(function() {
       $('.car_form').hide(); //form, start hidden
        $('.btn-primary').click(function() { // show button
         $('.car_form').fadeIn("slow"); //form and fade in
           $('.btn-hide').click(function() { // hide button
             $('.car_form').fadeOut("slow"); //form and fade out
       });
     });
   });
</script>