<% provide(:title, "Sign Up") %>

<div class="hero-unit col-md-5">
  <h1>Drivers</h1>
    <button class="btn user btn-lrg">Sign Up</button> 
    <section class="hero-unit user_signup">
      <%=# render 'shared/user_signup' %>
    </section>
</div>

<div class="hero-unit col-md-5">
  <h1>Businesses</h1>
    <button class="btn shop btn-lrg">Sign Up</button> 
    <section class="hero-unit shop_signup">
      <%= render 'shared/shop_signup' %>
    </section>
</div>


<script type="text/javascript">     
     $(document).ready(function() {
       $('.user_signup').hide(); //form, start hidden
        $('.user').click(function() { // show button
         $('.user_signup').fadeIn("slow"); //form and fade in
       });
   });
     $(document).ready(function() {
       $('.shop_signup').hide(); //form, start hidden
        $('.shop').click(function() { // show button
         $('.shop_signup').fadeIn("slow"); //form and fade in
       });
   });
</script>
-->