<h1> <%= @shop.name %> </h1>
<div class="center hero-unit col-md-8 col-md-offset-2" id="shop">
  <div class="shop_pic">
    <%= image_tag @shop.picture.url if @shop.picture? %>
  </div>
  <% if logged_in? && @user.shop_id.nil? %>
    <%= link_to 'Add As Your Shop', update_shop_url(id: @user.id, shop_id: @shop.id), class: 'blue-button', data: { method: 'post' } %>
  <% end %>
  <% if logged_in? && !@user.shop_id.nil? && @user.shop_id != @shop.id %>
    <%= link_to 'Switch To This Shop', update_shop_url(id: @user.id, shop_id: @shop.id), class: 'blue-button', data: { method: 'post' } %>
  <% end %>
  <div class="shop-info">
    <h2>Location</h2>
    <h3>
      <%= @shop.address %>, <%= @shop.city %>, <%= @shop.state %>, 
      <%= @shop.zip %>
    </h3>
    <h2>Contact</h2>
    <h3>
      <%= @shop.email %>, <%= @shop.phone %>
    </h3>
  </div>
</div>