<div id="customers_feed">
    <% if @customers.any? %>
      <ul class="customers">
        <%= render @customers %>
      </ul>
    <% else %>
      <h3> No customers have added you as their designated shop yet.</h3>
    <% end %>
</div>