<% provide(:title, 'Business Sign up') %>
<div class="signup-head">
  <h1>Business Signup</h1>
  <h2> Are you registering as a driver? <%= link_to "Sign up Here", signup_path %> </h2> 
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <%= form_for(@shop, html: { multipart: true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Business Name" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :address, "Address" %>
      <%= f.text_field :address, class: 'form-control' %>
      
      <%= f.label :city, "City" %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state, "State" %>
      <%= f.text_field :state, class: 'form-control' %>
      
      <%= f.label :zip, "ZIP Code" %>
      <%= f.text_field :zip, class: 'form-control' %>
      
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :phone, "Phone Number" %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm Your Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <h3> Add a photo of your business </h3>
      <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      
      <%= f.submit "Create business account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#shop_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>