<div>
  <aside class="col-md-4">
    <div>
    </div>
    <div class="hero-unit user_info">
      <h1><%= link_to user.name, user%></h1>
      <h2><%= pluralize(user.cars.count, "Car") %></h2>
    </div>
  </aside>
</div>

