<% provide(:title, 'All drivers') %>
<h1>All Drivers</h1>

<ul class="center hero-unit col-md-6 col-md-offset-3 users">
  <% @users.each do |user| %>
    <div class="user-name">
    <li><%= link_to user.name, user %>
      <% if logged_in? %>
        <% if current_user.admin? && !current_user?(user) %>
          | <%= link_to "(Delete User)", user, method: :delete,
                                        data: { confirm: "You sure?" } %></li>
        <% end %>
      <% end %>
    </div>
  <% end %>
</ul>