<% provide(:title, @user.name) %>

<div>
  <aside class="col-md-4">
    <div>
      <h1>My Profile</h1>
    </div>
    <div class="hero-unit user_info">
      <h1><%= @user.name %></h1>
      <h2><%= pluralize(@user.cars.count, "Car") %></h2>
    </div>
  </aside>
  
  <div class="col-md-8">
    <h1>My Cars</h1>
  </div>
  <div class="col-md-8">
    <%= render 'shared/feed' %>
  </div>
</div>