<%= form_for(@car, html: {multipart: true, remote: true}) do |f| %>
  <h3> Add Your Car</h3>
  <div class="field">
    <%= f.text_area :year, placeholder: "Year i.e. '1993" %>
    <%= f.text_area :brand, placeholder: "Brand i.e. 'Ford'"%>
    <%= f.text_area :model, placeholder: "Model i.e. 'Mustang'" %>
    <%= f.text_area :vin, placeholder: "17 digit VIN number" %>
    <%= f.text_area :mileage, placeholder: "Current Car Mileage" %>
  </div>
  <p> Add a Photo </p>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <div id="error_messages">
  </div>
  <%= f.submit "Add Car", class: "btn btn-add btn-primary" %>
  <button class="btn btn-hide btn-primary"> Hide Form </button>
  <% end %>
 
<script type="text/javascript">
  $('#car_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>