<h1><%= current_user.name %></h1>
<span> <%#= link_to "view my profile", root_path %></span>
<h2><%= pluralize(current_user.cars.count, "Car") %></h2>
<button class="btn btn-primary"> <%= link_to "Edit your profile", edit_user_path(current_user) %></button>
<button class="btn btn-primary">Add A Car</button>