@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #ececec;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ul{
  list-style-type: none;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header{
  li {
    font-size: 1.3em;
  }
}

.navbar {
  background-color: white;
  height: 70px;
  padding-top: 11px;
  padding-right: 70px;
}

#logo {
  text-align: center;
  font-size: 2.3em;
  color: black;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
}

/* footer */

.footer {
  position:fixed;
    left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: white;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    height: 100px;
    width: 200px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 100px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.alert-danger {
  background-color: white;
  padding-top: 50px;
  h5 {
    font-size: 2.0em;
    color: red;
    padding: 15px;
  }
  ul {
  color: red;
  margin: 0 0 50px 0;
  font-size: 1.5em;
  letter-spacing: 1px;
  list-style: none;
  
    li{
      margin-right: 30px;
      margin-bottom: 18px;
    }
  }
}

.error-explanation {
  color: red;
  background-color: white;
  padding: 50px;
}

.signup-head {
  h2 {
    color: black;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    font-size: 1.3em;
  }
}

/* Shops index */

.shops {
  margin-bottom: 300px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    font-size: 1.3em;
    list-style-type: none;
  }
}

#shop {
  margin-bottom: 100px;
}

.shop-name {
  font-size: 1.7em;
  margin-top: 30px;
}

.user-name {
  font-size: 1.7em;
}

/* cars */

.cars {
  margin-right: 30px;
  margin-bottom: 100px;
  li {
    list-style-type: none;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  h1{
    margin-bottom: 50px;
  }
}

aside {
  textarea {
    height: 29px;
    margin-bottom: 5px;
  }
}

.carinfo {
  margin-left: 200px;
}

.btn-hide {
  margin-left: 10px;
  margin-top: 15px;
}

.btn-add {
  margin-top: 15px;
  width: 100px;
}

.yrbm {
  font-decoration: bold;
  margin-top: 37px;
  float: right;
  margin-right: 20px;
  h3 {
    font-size: 2.8em;
  }
  h4 {
    font-size: 2.3em;
  }
}

.signup-btn {
  letter-spacing: 0px;
}
