// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logofont {
    background-image: asset-url("green.png");
    background-repeat: no-repeat;
    height: 60px;
    margin-left: 450px;
}

.broke {
  width: 100%;
  float: right;
  height: 475px;
  background-image: asset-url("treecar.jpg");
  background-repeat: no-repeat;
}

.alive {
  padding-top: 100px;
  width: 500px;
  h1 {
    font-size: 6em;
    color: white;
  }
}

.tres {
  height: 310px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-top: 50px;
  margin-left: 77px;
  margin-bottom: 100px;
  h3 {
    color: #009900;
    text-align: center; 
    font-weight: bold;
    font-size: 2.5em;
  }
  p {
    font-size: 1.7em;
    padding: 10px;
    text-align: center;
  }
}

h2 {
  color:white;
}

h4{
  color:white;
}

#abt {
  margin-bottom: 100px;
}

.btn {
  margin-left: 10px;
}

.body {
  background-image: asset-url("rsz_broke.jpg");
}

.hero-unit {
	text-align: center;
	background-color: white;
	font-size: 11px;
	padding: 30px;
	line-height: 1.4em;
	margin-bottom: 15px;
	/* -webkit-border-radius: 5px; */
	/* -moz-border-radius: 5px; */
	/*border-radius: 5px; */
	box-shadow: 1px 1px 10px #444; 
	/*border-color: #196A19; */
	border: 6px solid #196A19;
	color: black;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    h2 {
        font-size: 30px;
        color: black;
    }
    h4 {
      color: black;
    }
    p {
        font-size: 15px;
        margin-left: 11px;
        margin-top: 10px;
    }
    .delete {
        margin-left: 300px;
        margin-top: 15px;
    }
    .field {
        color: black;
        font-size: 1.5em;
    }
}

.btn {
  a {color:white;}
  a:link {text-decoration: none; color: white;}
  a:visited {text-decoration: none; color: white;}
  a:hover {text-decoration: underline; color: white;}
  a:active {text-decoration: none; color: white;}
}

#blacklink {
  a {color:black;}
  a:link {text-decoration: none; color: black;}
  a:visited {text-decoration: none; color: black;}
  a:hover {text-decoration: none; color: grey;}
  a:active {text-decoration: none; color: black;}
}

footer{
  a {color:black;}
  a:link {text-decoration: none; color: black;}
  a:visited {text-decoration: none; color: black;}
  a:hover {text-decoration: underline; color: black;}
  a:active {text-decoration: none; color: black;}
}


.pic {
  float: left;
  border: 6px solid #196A19;
  	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}