<li id="car-<%= car.id %>">
  
  <div class="row hero-unit">
    <div>
      <span class="pic"> 
        <%= image_tag car.picture.url if car.picture? %>
      </span>
      <div class="yrbm">
        <h3><%= car.year %> <%= car.brand %> <%= car.model %></h3>
        <h4><%= car.mileage %> Miles</h4>
        <h4>*Recent error codes*</h4>
        <h4>*Upcoming maintenance*</h4>
        
      </div>
      <div>
      <% if current_user?(car.user) %>
        <button class="delete btn btn-small btn-primary"><%= link_to "delete", car, method: :delete, data: { confirm: "Are you sure you want to delete this car?" } %></button>
      </div>
      <% end %>
    </div>
  </div>
</li>