<% if @car.errors.present? %> 
    $('#error_messages').html("<%= escape_javascript(render 'shared/error_messages', object: @car) %>");
<% else %>
    if($('#car_feed ul').length == 0){
        $('#car_feed').html("<ul class=cars></ul>")
    }
    $('#car_feed ul').append("<%= escape_javascript(render 'cars/car', car: @car) %>");
<% end %>