<% provide(:title, "Edit car") %>
<h1>Edit your car</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@car) do |f| %>
      <%= render 'shared/error_messages' %>
        <div class="field">
          <%= f.text_area :year, placeholder: "Year i.e. '1993" %>
          <%= f.text_area :brand, placeholder: "Brand i.e. 'Ford'"%>
          <%= f.text_area :model, placeholder: "Model i.e. 'Mustang'" %>
          <%= f.text_area :vin, placeholder: "17 digit VIN number" %>
          <%= f.text_area :mileage, placeholder: "Current Car Mileage" %>
        </div>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>