<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="logofont">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if shop_logged_in? %>
        <%= render 'layouts/shop_header' %>
        <% elsif logged_in? %>
        <%= render 'layouts/user_header' %>
        <% else %>
        <%= render 'layouts/login_options' %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
