<li  id="blacklink" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Login <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li id="blacklink"><%= link_to "For Drivers", login_path %></li>
    <li id="blacklink"><%= link_to "For Businesses", shop_login_path %></li>
    <li class="divider"></li>
  </ul>
</li>