<% if shop_logged_in? %>
  <li id="blacklink"><%= link_to "Home", shop_home_path %></li>
  <li id="blacklink"><%= link_to "Drivers", users_path %></li> 
  <li id="blacklink"><%= link_to 'Customers', customers_shop_path(id: current_shop.id) %></li>
  <li id="blacklink"><%= link_to "Logout", shop_logout_path, method: "delete" %></li>  
<% end %>