<% if logged_in? %>
  <li id="blacklink"><%= link_to "Home", root_path %></li>
  <li id="blacklink"><%= link_to "Garages", shops_path %></li>
  <% if !current_user.shop_id.nil? %>
    <li id="blacklink"><%= link_to "My Garage", users_shop %></li>
  <% end %>
  <li id="blacklink"><%= link_to "Log out", logout_path, method: "delete" %></li>  
<% end %>